.toggle-switch {
    width: 60px;
    height: 30px;
    background-color: #1b1033;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-switch .switch {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    transition: left 0.3s, background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
  
  .toggle-switch .light {
    left: 1px;
  }
  
  .toggle-switch .dark {
    left: 31px;
    background-color: #333;
  }
  
  .toggle-switch .switch .icon {
    pointer-events: none;
  }
  
  /* .toggle-switch:hover {
    background-color: #bbb;
  } */
  